{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-9">
  </div>
  <div class="col-xs-3">
    <h1><a class="btn btn-default" href="./album?id={{albumid[0]}}" >Back to album</a></h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <img class="img-responsive img-with-max-size" src="{{url[0]}}" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label for="pwd">Caption:</label>
        <input id="caption" type="text" class="form-control" name="caption" value="{{caption}}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a class="btn btn-primary {% if not prev %}disabled{% endif %}" href="./pic?id={{prev}}"
         style="float:left">Prev</a>
    </div>
    <div class="col-xs-6">
      <a class="btn btn-primary {% if not next %}disabled{% endif %}" href="./pic?id={{next}}"
         style="float:right">Next</a>
    </div>
  </div>
</div>

{% block extrascripts %}
    <script type="text/javascript">
        initCaption("{{ id }}");
    </script>
{% endblock %}
{% endblock %}
