{% extends "base.html" %}
{% block content %}
  <h1>ALBUMS</h1>
  <table style="width:100%">
    <tr>
      <th>Album Name</th>
      {% if edit %}
      <th>Edit</th>
      <th>Delete</th>
      {% endif %}
    </tr>

    {% for album in albums %}
    <tr>
      <td>{{album[1]}}</td>
      {% if edit %}
      <td><a class="btn btn-default" href="../album/edit?id={{album[0]}}">Edit</a></td>
      <td>Delete</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% if edit %}
    <div> This is only on the edit page </div>
  {% endif %}
{% endblock %}

