{% extends "base.html" %}
{% block content %}
{% if edit %}
Editing Page
{% else %}
<div class="row">
  <div class="col-xs-9">
      <h1>{{albumname}}</h1>
  </div>
  <div class="col-xs-3">
    <h1><a class="btn btn-default button-back" href="./albums?username={{username}}">Back</a></h1>
  </div>
</div>
<div class="row">
  {% for photo in photos %}
  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="./pic?id={{photo[0]}}">
          <img class="img-responsive" src="{{photo[1]}}" alt=""/>
      </a>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}