{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Welcome to The Great Album Wall!</h1>
    {% if username %}
    <p>Hello, {{username}}</p>
    {% else %}
    <p>Member? Please login <a href='/sksnf4gf1or/pa2/user/login?url={{request.url}}'> here </a></p>
    <p>New user? Join us <a href='./user'>here</a>!</p>
    {% endif %}
   <!--  {% if username %}
      <p><a href="./albums">My Albums</a><p>
    {% else %}
      <p><a href="./albums">Public Albums</a><p>
    {% endif %} -->
    {% for album in albums %}
        <li><a href="./album?id={{album[0]}}">{{ album[1] }}</a></li>
    {% endfor %}
  </div>
{% endblock %}
