{% extends "base.html" %}
{% block content %}

<div>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method="POST" action"">
    username: <input type = 'text' name='username'>
    password: <input type = 'password' name='password'>
    re-type password: <input type = 'password' name='re-password'>
    firstname: <input type = 'text' name='firstname'>
    lastname: <input type = 'text' name='lastname'>
    email: <input type = 'email' name='email'>
    <input type = 'submit' value ='register'>
  </form>
</div>

{% endblock %}
